body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #333333;
}

/* div {
  border: solid 1px red;
} */

div#nav {
  position: relative;
  /* float: left; */
  width: 240px;
  padding: 10px;
}

div#summary {
  position: relative;
  float: right;
  width: 670px;
  padding: 10px;
}

div#results {
  position: relative;
  float: right;
  width: 670px;
  padding: 10px;
}

h1 {
  margin: 0;
  padding: 10px;
  color: #3399cc;
  width: 100%;
  background-color: #DDDDDD;
}

#container {
  width: 960px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 30px;
}

#spinner {
  background-image: url("spinner.gif");
  width: 32px;
  height: 32px;
  position: relative;
  top: 20px;
  left: 20px;
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 4px 0 0 -3px;
  padding: 2px 0 0 25px;
}

li.closed {
  background: url(images/plus.png) no-repeat left top;
}

li {
  background: url(images/minus.png) no-repeat left top;
}

li.empty {
  background: url(images/bullet.png) no-repeat left top;
}

div.result {
  padding: 5px 0;
}

div.result-title {
  font-weight: bold;
}

#nav ul li label {
  font-size: 12px;
}

label.selected {
  font-weight: bold;
}
